/*Tabla y boton*/
.auto-style1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px
} 

.auto-style2 {
    height: 443px;
} 

.auto-style3 {
    height: 290px;
}

.auto-style4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 631px;
}

.centrado{
    margin:0 auto;
}

.Grid1 {
    width: 100%;
}

.ButtonStyle {
    background-color: #e7e7e7; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 695px
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

    .button1:hover {
        background-color: #555555;
        color: white;
    }

/*Formulario*/
/*Filtros*/
.buttonFilter {
    width:49%;
}