/*body y html*/
body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #2f3542;
    justify-content: center;
    align-items: center;
}


a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 100px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 100px;
}

a:nth-child(5) {
    width: 100px;
}

a:nth-child(6) {
    width: 100px;
}


nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}

nav .start-about, a:nth-child(2):hover ~ .animation {
    width: 100px;
    left: 100px;
    background-color: #e74c3c;
}

nav .start-blog, a:nth-child(3):hover ~ .animation {
    width: 100px;
    left: 200px;
    background-color: #3498db;
}

nav .start-portefolio, a:nth-child(4):hover ~ .animation {
    width: 100px;
    left: 300px;
    background-color: #9b59b6;
}

nav .start-contact, a:nth-child(5):hover ~ .animation {
    width: 100px;
    left: 400px;
    background-color: #e67e22;
}

nav .start-contact, a:nth-child(6):hover ~ .animation {
    width: 100px;
    left: 500px;
    background-color: #e67e22;
}