/*body y html*/
body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #2f3542;
    justify-content: center;
    align-items: center;
}

/*Tabla y boton*/
.auto-style1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.auto-style3 {
    height: 290px;
}

.auto-style4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 631px;
}

    .button1:hover {
        background-color: #555555;
        color: white;
    }

/*Formulario*/
.custom-dropdown {
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris */
    color: #555; /* Texto oscuro */
    cursor: not-allowed; /* Cambiar el cursor al indicador de no permitido */
    pointer-events: none; /* Evitar eventos de puntero */
    opacity: 0.8; /* Opacidad reducida */
}
