body, html{
    height:100%;
}

body {
    margin: 0;
    padding: 0;
    background: #2f3542;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.form-box{
    margin-top:200px;
    width: 550px;
    padding: 40px;
    background: #191919;
    text-align: center;
    border-radius: 24px;
    border: solid;
}

.form-title {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    text-shadow: 1px 1px 2px #000000;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align:center;
    border: 2px solid #3742fa;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, 
.form-box input[type="password"]:focus {
    width:300px;
    border-color: #fff;
}

.form-button {
    border: 0;
    background: #5352ed;
    cursor: pointer;
    border: 2px solid #3742fa;
}

.form-button:hover{
    background:none;
}
